<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FilePropertiesEnumerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <applicationSettings>
    <FilePropertiesEnumerator.Properties.Settings>
      <setting name="IgnoreTheseRootFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>swapfile.sys</string>
            <string>hiberfil.sys</string>
            <string>pagefile.sys</string>
            <string>$Volume</string>
            <string>$Secure</string>
            <string>$BadClus</string>
            <string>$AttrDef</string>
            <string>$MFTMirr</string>
            <string>$Boot</string>
            <string>$UpCase</string>
            <string>$Bitmap</string>
            <string>$LogFile</string>
            <string>$MFT</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IgnoreTheseRootDirectories" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>$Extend</string>
          </ArrayOfString>
        </value>
      </setting>
    </FilePropertiesEnumerator.Properties.Settings>
  </applicationSettings>
</configuration>
