<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Native" version="3.12.3" targetFramework="net462" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net462" />
</packages>