<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JudgeJuryAndExecutableGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="Database.ConnectionString" value="SetMe" />
    <add key="GUI.DefaultFolder" value="C:\" />
    <add key="GUI.SearchPattern" value="*.exe|*.dll|*.drv" />
    <add key="FileEnumeration.DisableWorkerThread" value="false" />
  </appSettings>
  <applicationSettings>
    <JudgeJuryAndExecutableGUI.Properties.Settings>
      <setting name="AutoComplete_MimeTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>application/java-archive</string>
            <string>application/msonenote</string>
            <string>application/msword</string>
            <string>application/octet-stream</string>
            <string>application/pkix-crl</string>
            <string>application/PowerShell</string>
            <string>application/rat-file</string>
            <string>application/vnd.apple.installer+xml</string>
            <string>application/vnd.ms-excel</string>
            <string>application/vnd.ms-excel.addin.macroEnabled.12</string>
            <string>application/vnd.ms-officetheme</string>
            <string>application/vnd.ms-pki.seccat</string>
            <string>application/vnd.ms-powerpoint</string>
            <string>application/vnd.ms-word.template.macroEnabled.12</string>
            <string>application/vnd.ms-wpl</string>
            <string>application/windows-library+xml</string>
            <string>application/windows-search-connector+xml</string>
            <string>application/x-compress</string>
            <string>application/x-csh</string>
            <string>application/x-ms-xbap</string>
            <string>application/x-msdownload</string>
            <string>application/x-sh</string>
            <string>application/x-shockwave-flash</string>
            <string>application/x-troff-man</string>
            <string>application/x-x509-ca-cert</string>
            <string>application/x-zip-compressed</string>
            <string>application/xml</string>
            <string>application/xml-dtd</string>
            <string>text/javascript</string>
            <string>text/scriptlet</string>
            <string>text/x-component</string>
            <string>text/x-ms-contact</string>
            <string>text/x-ms-iqy</string>
            <string>text/x-ms-odc</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AutoComplete_FileExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.386</string>
            <string>.ascx</string>
            <string>.ashx</string>
            <string>.asmx</string>
            <string>.aspx</string>
            <string>.bat</string>
            <string>.bin</string>
            <string>.cat</string>
            <string>.cer</string>
            <string>.chm</string>
            <string>.class</string>
            <string>.cmd</string>
            <string>.com</string>
            <string>.config</string>
            <string>.contact</string>
            <string>.crl</string>
            <string>.crt</string>
            <string>.der</string>
            <string>.dev</string>
            <string>.dll</string>
            <string>.dotm</string>
            <string>.dotx</string>
            <string>.drv</string>
            <string>.dtd</string>
            <string>.eps</string>
            <string>.exe</string>
            <string>.hlp</string>
            <string>.htc</string>
            <string>.hxd</string>
            <string>.hxh</string>
            <string>.hxs</string>
            <string>.hxw</string>
            <string>.iqy</string>
            <string>.jar</string>
            <string>.js</string>
            <string>.jse</string>
            <string>.library-ms</string>
            <string>.lnk</string>
            <string>.man</string>
            <string>.msc</string>
            <string>.msh</string>
            <string>.msh1</string>
            <string>.msh1xml</string>
            <string>.msh2</string>
            <string>.msh2xml</string>
            <string>.mshtml</string>
            <string>.msi</string>
            <string>.msp</string>
            <string>.ocx</string>
            <string>.odc</string>
            <string>.one</string>
            <string>.onepkg</string>
            <string>.pif</string>
            <string>.potm</string>
            <string>.potx</string>
            <string>.ppam</string>
            <string>.ppsm</string>
            <string>.ppt</string>
            <string>.pptm</string>
            <string>.pptx</string>
            <string>.ps1</string>
            <string>.ps1xml</string>
            <string>.ps2</string>
            <string>.ps2xml</string>
            <string>.psc1</string>
            <string>.psc2</string>
            <string>.rat</string>
            <string>.reg</string>
            <string>.resx</string>
            <string>.scr</string>
            <string>.searchconnector-ms</string>
            <string>.sfc</string>
            <string>.shs</string>
            <string>.sldm</string>
            <string>.swf</string>
            <string>.thmx</string>
            <string>.vb</string>
            <string>.vba</string>
            <string>.vbe</string>
            <string>.vbs</string>
            <string>.vxd</string>
            <string>.wmf</string>
            <string>.wpl</string>
            <string>.ws</string>
            <string>.wsc</string>
            <string>.wsf</string>
            <string>.wsh</string>
            <string>.xbap</string>
            <string>.xla</string>
            <string>.xlam</string>
            <string>.xll</string>
            <string>.xlm</string>
            <string>.xlsm</string>
            <string>.xlsx</string>
            <string>.xltm</string>
            <string>.xltx</string>
            <string>.xlv</string>
            <string>.xsd</string>
            <string>.zip</string>
          </ArrayOfString>
        </value>
      </setting>
    </JudgeJuryAndExecutableGUI.Properties.Settings>
  </applicationSettings>
</configuration>