<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="Database.ConnectionString" value="SetMe"/>
    <add key="GUI.DefaultFolder" value="C:\" />
    <add key="GUI.SearchPattern" value="*.*" />
    <add key="FileEnumeration.DisableWorkerThread" value="false" />
  </appSettings>
  <system.diagnostics>
    <assert assertuienabled="false" logfilename="Debug-Assert.log"/>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>