<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeviceIOControlLib" publicKeyToken="194e86a1dcd77098" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.5.0" newVersion="0.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Database.ConnectionString" value="SetMe" />
    <add key="GUI.DefaultFolder" value="C:\" />
    <add key="GUI.SearchPattern" value="*.*" />
    <add key="FileEnumeration.DisableWorkerThread" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
