<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeviceIOControlLib" publicKeyToken="194e86a1dcd77098" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.1.5.0" newVersion="0.1.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Database.ConnectionString" value="SetMe"/>
    <add key="FileEnumeration.DisableWorkerThread" value="false"/>
  </appSettings>
  <system.diagnostics>
    <assert assertuienabled="false" logfilename="Debug-Assert.log"/>
    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>
</configuration>
